
@{
    ViewBag.Title = "BookFlight";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@model RedNit_Airline.Models.DatVeViewModel

<h2>Flight Information</h2>
<p>Điểm đi: @Model.ChuyenBayInf.DiemDi</p>
<p>Điểm đến: @Model.ChuyenBayInf.DiemDen</p>
<p>Giờ khỏi hành: @Model.ChuyenBayInf.GioKhoiHanh</p>
<p>Ngày khởi hành: @Model.ChuyenBayInf.NgayDi</p>


<h2>Passenger Information</h2>
@using (Html.BeginForm("BookFlight", "Booking", new { flightId = Model.ChuyenBayInf.ChuyenBayID }, FormMethod.Post))
{
    @Html.LabelFor(model => model.KhachHangInf.HoTen)
    @Html.TextBoxFor(model => model.KhachHangInf.HoTen)
    <br />

    @Html.LabelFor(model => model.KhachHangInf.Email)
    @Html.TextBoxFor(model => model.KhachHangInf.Email)
    <br />

    @Html.LabelFor(model => model.KhachHangInf.Sdt)
    @Html.TextBoxFor(model => model.KhachHangInf.Sdt)
    <br />

    @Html.LabelFor(model => model.KhachHangInf.GioiTinh)
    @Html.TextBoxFor(model => model.KhachHangInf.GioiTinh)
    <br />

    <input type="submit" value="Book Now" />
}

