@model IEnumerable<RedNit_Airline.Models.ChuyenBay>

@{
    ViewBag.Title = "TimKiemChuyenBay";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    <style>
        .flight-list {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        .flight-item {
            border: 2px solid hidden;
            border-radius: 10px;
            margin: 10px;
            padding: 15px;
            box-sizing: border-box;
            position: relative;
        }



        .flight-details {
            margin-top: 10px;
            font-size: 18px;
            display: inline-block;
            margin-right: 10px;
        }

        .flight-time {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 18px;
            display: inline-block;
            margin-right: 10px;
        }

        .flight-price {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 18px; /* Kích thước font chữ tăng lên */
            float: left;
            width: 30%;
        }

        .flight-actions a {
            margin-top: 25px;
            margin-right: 10px;
            color: #fff;
            padding: 4px 4px 4px 4px;
            border-radius: 4px;
            border-width: 5px;
            background-color: #C7626F;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            transition: color 0.3s ease;
        }

            .flight-actions a:hover {
                color: #fff !important;
                border: 1px solid #fff;
            }
    </style>
}

<h2 style="text-align: center; padding: 10px 0 20px 0; color: #C7626F; ">Danh Sách Chuyến Bay</h2>

<div class="flight-list ">
    @foreach (var item in Model)
    {
        <div class="flight-item shadow-lg">
            <div>
                <div class="flight-details ">
                    <strong> Sân khởi hành: </strong>@Html.DisplayFor(modelItem => item.DiemDi)
                </div>
                <div class="flight-details" style="margin-right:30px;">
                    <strong> Sân đến: </strong>@Html.DisplayFor(modelItem => item.DiemDen)
                </div>

               
            </div>

            <div>
                <div class="flight-time">
                    <strong> Giờ khởi hành: </strong>@Html.DisplayFor(modelItem => item.GioKhoiHanh)
                </div>
                <div class="flight-time">
                    <strong> Ngày khởi hành: </strong>@Html.DisplayFor(modelItem => item.NgayDi)
                </div>
            </div>


            <div class="flight-actions">
                @if (!string.IsNullOrEmpty(item.ChuyenBayID))
                {
                    <a href="@Url.Action("DatVe", new { chuyenBayId = item.ChuyenBayID })">Đặt vé</a>
                }
                else
                {
                    <span>ChuyenBayID is null or empty</span>
                }
            </div>
        </div>
    }
</div>



